@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #bdf7c2;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #0ae620;
}
h1#prin {
    text-align: center;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(43, 88, 53);
}
.basico {
    color: rgb(43, 88, 53);
    font-weight: 900;
}
.intermediario {
    color: rgb(156, 163, 53);
}
.avancado {
    color: rgb(228, 14, 14);
}
.destaque {
    background-color: rgba(212, 212, 114, 0.699);
}