@charset "UTF-8";

body {
    background-color: rgb(161, 56, 56);
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}